:root{

}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main-research a{
  font-size: 1.3rem;
  padding:2px;
  margin-left: 10px;
}
.main-research    h1{
  background-color: aqua;
  margin: 5px;
}
.main-research    h2{
  background-color: darkkhaki;
  margin: 5px;
}


/* =============================screen width 375px======================================= */
@media only screen (min-width:375px){
  .theme img{
    width:100%;
  }

}
/* =============================screen width 750px====================================== */
@media only screen and (min-width:750px){
  nav li{
    display:inline;
  }

  .card{
    width:49%;
  }
  .card>img{
    width:100%;
  }
  .theme{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer a{
    padding:0 3rem;
  }
}

/* =============================screen width 900px====================================== */
@media only screen and (min-width:900px){
  .card{
    width:30%;
  }
  .footer a{
    padding:0 5rem;
  }
}

